<MarketplaceDetails>
  <SmallAppTile>store logo 300x300.png</SmallAppTile>
  <ScreenShots>wp_ss_20141125_0003.png;wp_ss_20141125_0004.png;wp_ss_20141125_0005.png;wp_ss_20141125_0006.png;;;;;</ScreenShots>
  <ScreenShotsWXGA>1x.png;2x.png;3x.png;4x.png;;;;;</ScreenShotsWXGA>
  <ScreenShots720P>17.png;27.png;37.png;47.png;;;;;</ScreenShots720P>
</MarketplaceDetails>